*{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  font-weight:lighter;
  line-height: 1.4em;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article{
  background:rgb(20, 104, 140);
  border-bottom: 0.2em white solid;
}
header{
  text-align:center;
  margin-bottom:3em;
}
.wrapper{
  max-width:900px;
  margin:0 auto;
  padding:3em;
  text-align:justify;
}

@media(max-width:386px){
  section{
    text-align: left;
  }
}
img.logo{
  width:100%;
  max-width:27em;
}
h1{
  font-size:3em;
  color:white;
}
@media(max-width:519px){
  h1{
    font-size:5em;
    line-height:1.1em;
  }
}
@media(max-width:446px){
  h1{
    font-size:4em;
  }
}
@media(max-width:386px){
  h1{
    font-size:3em;
  }
}
h3{
  color:white;
  font-size: 1.2em;
  margin-bottom:0.4em;
}
h4{
  color:white;
}
p{
  color:white;
  font-size:2em;
  margin-bottom:1em;
}
p:last-child{
  margin-bottom:0;
}
@media(max-width:446px){
  p{
    font-size:1.5em;
  }
}
strong{
  font-size:1em;
  text-shadow:2px 2px 0 rgba(0,0,0,0.2);
}
a{
  color:white;
  display:inline-block;
  text-decoration: none;
  font-weight:normal;
  font-size:1em;
  text-shadow:2px 2px 0 rgba(0,0,0,0.2);
  transition: border-bottom 0.2s;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  line-height:1em;
  &:hover{
    border-bottom: 2px solid white;
  }
  i:hover{
    color:#333;
    background:white;
    background:rgba(255,255,255,0.8);
  }
}
address{
  color:#ccc;
  font-style: normal;
}
i{
  color:white;
  border-radius: 3px;
}

footer{
  background:#222;
  .wrapper{
    font-size:0;
    padding:48px;
  }
  a.email{
    margin-bottom:1.4em;
  }
  section{
    font-size:16px;
    width: 33%;
    display: inline-block;
    vertical-align:top;
    padding:1.5em;
    &:first-child{
      padding-left:0;
    }
    &:last-child{
      padding-right:0;
    }
    p{
      color:#ccc;
      font-size:1em;
    }
    a{
      text-shadow:none;
      font-weight:lighter;
      border-bottom:none;
      border-radius: 2px;
      transition: color 0.2s, background 0.2s;
      padding-top:3px;
      padding-bottom:3px;
      &:hover{
        color:#333;
        border-bottom:none;
        background: white;
      }
    }
  }
  .service-link{
    display: inline-block;
    vertical-align:top;
    padding:0;
    i{
      font-size:2em;
      padding:4px;
      display: inline-block;
      &.twitter{
        padding-top:6px;
        padding-bottom:6px;
        padding-left:4px;
        padding-right:8px;
        font-size:1.8em;
      }
    }
  }
}
@media(max-width: 752px){
  footer{
    section{
      display:block;
      width: auto;
      padding:1em;
      &:first-child,
      &:last-child{
        padding:1em;
      }
    }
  }
}
