@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
*{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    list-style:none;
    font-size:16px;
    font-weight:lighter;
    line-height:1.4em;
}
html{
  background-color:#eee;
  color:#333;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper{
    max-width:800px;
    margin: 0 auto;
}
@import 'header';
@import 'logo';
@import 'nav';
@import 'section';
@import 'footer';
