section#expertise{
  background-color: #333;
  background:
    linear-gradient(
      rgba(10, 10, 10, 0.2),
      rgba(10, 10, 10, 0.7)
    ),
    url(images/footer_lodyas.png);

  padding-bottom: 1em;
  border-top: #444 1px solid;
  border-bottom: #222 1px solid;

  .specialism{
    display: inline-block;
    width: 33%;
    padding: 0.5em;
    border-radius: 3px;
    text-align: center;
    transition: background 0.2s, color 0.2s;

    svg{
      height: 150px;
      stroke: white;
      stroke-width: 5px;
      margin-bottom:1em;
      fill: rgba(0,0,0,0);
      transition: fill 0.2s;
    }

    &#ruby{
      padding-left:0;
      &:hover svg{
        fill: #d00;
        #ruby-outline{
          fill: #e33;
        }
      }
    }

    &#js{
      &:hover{
        svg{
          fill: #fe0;
          stroke: black;
        }
        #js-letter{
          fill: #222;
        }
      }
    }

    &#mobile{
      padding-right:0;
      #mobile-screen{
        transition: fill 0.5s ease;
      }
      &:hover{
        #mobile-screen{
          fill: #0ef;
        }
        #mobile-body{
          fill: #222;
          stroke: black;
        }
        #mobile-microphone, #mobile-speaker{
          fill: #555;
          stroke: #333;
        }
      }
    }
  }

  @media(max-width: 885px){
    .specialism{
      font-size:0.8em;
    }
  }

  @media(max-width: 780px){
    .specialism{
      svg{
        height: 80px;
        margin-bottom: 1.2em;
      }
    }
  }

  @media(max-width: 730px){
    .specialism{
      width: 100%;
      vertical-align: top;
      text-align:left;
      height:100px;
      display:block;
      padding: 0;
      .logo{
        display:inline-block;
        width:100px;
        margin-right: 2em;
        line-height: 80px;
        text-align:center;
        padding: 0;
        float: left;
        height: 100%;
      }
      p{
        vertical-align: top;
      }
      svg{
        margin: 0;
      }
    }

    @media(max-width: 365px){
      .specialism{
        display: block;
        text-align: center;
        height:auto;
        margin-bottom:3em;
        .logo{
          width: 100%;
          display:block;
          line-height:normal;
        }
        p{
          width: 100%;
          display:block;
        }
      }
    }
  }
}
