.testimonial{
  border-radius: 3px;
  background: #E7F8FF;
  border-bottom: 3px solid #CBEFFF;
  blockquote {
    text-align: left;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1em 2em;
    position: relative;

    &:before,&:after{
      color: #1F94D7;
      font-size: 4em;
      line-height: 0;
      position: absolute;
      display: inline-block;
    }

    &:before {
      content: open-quote;
      top: 52px;
      left: 12px;
    }
    &:after{
      content: close-quote;
      bottom: 12px;
      right: 12px;
    }
  }
  footer{
    font-style: italic;
    padding: 0.5em 1em;
    border-top: none;
    background: #CBEFFF;
    text-align: right;
  }
}
@media (max-width: 700px){
  .testimonial{
    blockquote{
      padding: 1em;
      &:before,&:after{
        display: none;
      }
    }
    footer{
      padding-right: 1em;
    }
  }
}
