link(href='images/favicons/favicon.ico', rel='icon', sizes='16x16 32x32 48x48 64x64')
<!--[if IE]>
link(rel='shortcut icon', href='images/favicons/favicon.ico')
<![endif]-->
link(rel='icon', type='image/png' sizes='128x128', href='images/icons/favicon-128.png')
link(rel='icon', type='image/png' sizes='256x256', href='images/icons/favicon-256.png')
meta(content='#FFFFFF', name='msapplication-TileColor')
meta(content='images/favicons/favicon-128.png', name='msapplication-TileImage')
link(href='images/favicons/favicon-256.png', rel='apple-touch-icon-precomposed', sizes='256x256')
link(href='images/favicons/favicon-128.png', rel='apple-touch-icon-precomposed', sizes='128x128')
link(href='images/favicons/favicon-64.png', rel='apple-touch-icon-precomposed', sizes='64x64')
link(href='images/favicons/favicon-32.png', rel='apple-touch-icon-precomposed', sizes='32x32')
link(href='images/favicons/favicon-16.png', rel='apple-touch-icon-precomposed', sizes='16x16')
