section#client-types
  .wrapper
    h2 Are we right for you?
    p Most of our clients are small to medium-sized businesses who have experience working with developers. 
    p To get the best value from working with us, you should have a clear idea of
    ul
      li what you want to achieve
      li the scope of your project
      li your budgets and timescales
