section#expertise
  .wrapper
    h2 What we do best
    #ruby.specialism
      .logo
        include ../../images/ruby.svg
      p Ruby, Ruby on Rails & Sinatra
    #js.specialism
      .logo
        include ../../images/js.svg
      p Javascript & Coffeescript
    #mobile.specialism
      .logo
        include ../../images/mobile.svg
      p Mobile apps via Phonegap
