footer
  .wrapper
    section
      h3 Find us
      a.service-link(href='https://github.com/dvmtn')
        i.icon-github
      a.service-link(href='https://twitter.com/dvmtn')
        i.icon-twitter.twitter
    section
      h3 Contact Details
      a.email(href='mailto:hello@devmountain.co.uk') hello[at]devmountain.co.uk
      address
        | Developer Mountain Ltd.
        | CO LB Group,
        | 7 Hydra, Orion Court,
        | Addison Way,
        | Gt Blakenham,
        | Suffolk,
        | IP6 0LW
    section
      h3 Legal stuff
      p Developer Mountain Ltd. is a company registered in England &amp; Wales with company number &apos;09288865&apos; and VAT number &apos;199 6900 45&apos;

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57493769-1', 'auto');
    ga('send', 'pageview');
