meta(content='text/html; charset=UTF-8', http-equiv='content-type')
meta(name='description', content="Developer Mountain are talented Ruby & Javascript devs available for building webapps and supporting existing teams")
meta(name='keywords', content='Developers,Ruby,Javascript,Ipswich,Suffolk')

title Developer Mountain

link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet')
link(href='holding_page.min.css', rel='stylesheet')
link(href='fontello.css', rel='stylesheet')
meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
meta(content='yes', name='apple-touch-fullscreen')
meta(content='yes', name='apple-mobile-web-app-capable')
meta(content='black', name='apple-mobile-web-app-status-bar-style')
meta(name="theme-color", content='#1A4D62')
link(href='images/favicons/favicon.ico', rel='icon', sizes='16x16 32x32 48x48 64x64')
include app_icons.jade
include og_tags.jade
