meta(property="og:title" content="Developer Mountain")
meta(property="og:type" content="website")
meta(property="og:url" content="http://devmountain.co.uk/")
meta(property="og:image" content="http://devmountain.co.uk/images/logo.svg")
