.testimonials.wrapper
  h2 Testimonials
  .testimonial
    blockquote
      | Adam and Anders were absolutely brilliant to work with. Patient and clear, they helped me to develop my ideas, clearly communicated and realised what was possible, and helped us to tackle what didn't seem possible. Great value for money from a strong team.
    footer
      | - Jessica Cordingly, Cabinet Office
