section#why-us
  .wrapper
    h2 Why choose Developer Mountain?
    p We’re experienced, focused and practical. We’re a small business ourselves, so we understand the value of your time and money and will always put efficiency first. Our flat structure means everybody you deal with is a decision-maker and can use their initiative to help solve your problems.
