doctype html
html(manifest='manifest.appcache')
  head
    include partials/header.jade

  body
    article
      section#intro.wrapper
        header
          img#logo(alt='Developer Mountain', src='images/logo.svg')
          h1 Developer Mountain

        p Looking to outsource your development for web apps, mobile apps or other software projects? Or need extra support for your development team?
        p We can help.
          = ' '
          a(href='mailto:hello@devmountain.co.uk') Contact us
          | !

      include partials/expertise.jade
      include partials/testimonials.jade
      include partials/portfolio.jade

    script(src='holding_page.js')

    include partials/footer.jade
