!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %title Developer Mountain
    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:300,400,700', :rel =>'stylesheet'}
    %link{:href => "project.min.css", :rel => "stylesheet"}
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
  %body
    %article
      %section
        %header
          %img.logo{:src => 'images/logo.svg', :alt => 'Developer Mountain'}
          %h1
            Developer Mountain
        %p
          We're a shiny new company specialising in <strong>Javascript</strong> and <strong>Ruby</strong>. We use our <strong>full stack</strong> and <strong>DevOps</strong> skills to build projects for <strong>agencies</strong> and <strong>developers</strong>.
        %p
          We&rsquo;re snowed under with work right now but we&rsquo;ll get a site together soon!
        %p
          We'd love to chat to you, please
          = succeed '!' do
            %a{ href: 'mailto:anders@devmountain.co.uk' }contact us
        %p
          If you&rsquo;d like to see some of our work, checkout our projects on
          = succeed '.' do
            %a{ href: 'https://github.com/dvmtn'}github

    %script{:src => "project.js"}
    %footer
      %section
        %p Developer Mountain Ltd. is a company registered in England & Wales with company number '09288865' and VAT number '199 6900 45'
        %p Developer Mountain Ltd, CO LB Group, 7 Hydra, Orion Court, Addison Way, Gt Blakenham, Suffolk, IP6 0LW
        %p
          %a.twitter-follow-button{"data-dnt" => "true", "data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/DvMtn"} Follow @DvMtn
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          %a.github-button{"data-style" => "mega", :href => "https://github.com/dvmtn"} Follow @dvmtn
          %script#github-bjs{:async => "", :defer => "", :src => "https://buttons.github.io/buttons.js"}
