doctype html
html(manifest='manifest.appcache' lang="en-GB")
  head
    include partials/header.jade

  body
    article
      section#intro.wrapper
        header
          #logo
            include ../images/logo.svg
          h1 Developer Mountain

        p Looking for talented developers to build web apps, mobile apps or other software projects? Or need extra support for your development team?
        p We can help.
          = ' '
          span.contact_us
            a(href='mailto:hello@devmountain.co.uk') Contact us
            | !

      include partials/expertise.jade
      include partials/testimonials.jade
      include partials/portfolio.jade

    script(src='holding_page.js')

    include partials/footer.jade
